/*Tasks 5 -8*/
body {
  background-color: #f9f9f9;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

p,
li {
  color: #333333;
}
li:hover{
  color: brown;
  font-size: large;
}

h1,
h2,
h3,
h4 {
  color: #0057b8;
}

a {
  color: #007acc;
}

a:visited {
  color: purple;
}

a:hover {
  color: #005999;
}
